@font-face {
    font-family: Simplicity;
    src: url(assets/simplicity.ttf);
}

body {
    font-family: Simplicity;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 185, 192);
    color: rgb(65, 60, 60);
}

#taskList {
    max-width: 50vw;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
    width: fit-content;
    margin: 0.25em;
    padding: 0.25em;
    border: 2px solid rgb(122, 148, 156);
    border-radius: 0.5em;
}

/*
.checkbox {
    display: none;
}

.modifiedCheckbox {
    margin: 0.5em;
    width: 15px;
    height: 47.5%;
    border: 2px solid rgb(65, 60, 60);
    border-radius: 100%;
}

.checkbox:checked + .modifiedCheckbox {
    background-color: rgb(122, 148, 156);
}
*/

.delete {
    background-color: rgb(122, 148, 156);
    border-radius: 0.5em;
    border: 2px solid rgb(65, 60, 60);
}

header {
    font-size: 2em;
}

#newItem {
    display: flex;
    justify-content: space-around;
    height: 2em;
}

#newItem input[type="text"] {
    border: 2px solid rgb(65, 60, 60);
    border-radius: 0.5em;
    background-color: rgb(162, 185, 192);
    font-family: Simplicity;
    font-size: 1em;
}

#appendNewItem {
    height: 100%;
    margin-left: 0.5em;
    border: 2px solid rgb(65, 60, 60);
    border-radius: 0.5em;
    background-color: rgb(122, 148, 156);
    font-family: Simplicity;
    font-size: 1em;
}

.completed {
    text-decoration: line-through;
}